<div fxLayout="column" class="bg-info-container">
  <h1>About Me</h1>
  <section>
    <p>
      I'm a New York City transplant who came to the big city from Michigan with
      my amazing wife and our lovable senior Golden-Lab pup.
    </p>
    <p>
      Having graduated from Wayne State University with a Bachelor's Degree in
      Biomedical Engineering, I spent some time as a Controls Enginerer before
      finding my true calling as a software engineer.
    </p>
    <p>
      With two years of professional experience building beautiful and robust
      features/web applications for clients, I've established myself as an
      engineer who can not only develop clean and efficent software, but can
      take complex and data-centric business requirements and help craft dynamic
      and modern solutions.
    </p>
  </section>
  <h1>Frameworks</h1>
  <app-icon-group
    [showLabels]="true"
    [iconList]="[
      'react',
      'nextjs',
      'vue',
      'angular',
      'nodejs',
      'expressjs',
      'springboot'
    ]"
  >
  </app-icon-group>
  <h1>Languages & Libraries</h1>
  <app-icon-group
    [showLabels]="true"
    [iconList]="[
      'javascript',
      'typescript',
      'html5',
      'css3',
      'sass',
      'java',
      'python',
      'golang',
      'materialui',
      'tailwindcss',
      'bootstrap',
      'aggrid'
    ]"
  >
  </app-icon-group>
  <h1>Platforms & Tools</h1>
  <app-icon-group
    [showLabels]="true"
    [iconList]="[
      'github',
      'bitbucket',
      'azure',
      'aws',
      'jira',
      'confluence',
      'firebase'
    ]"
  >
  </app-icon-group>
</div>
