<div fxLayout="column" class="bg-info-container">
    <h1>Background</h1>
    <section>
        <p>I'm a Michigan-native who got married, packed my bags, and moved to Brooklyn, New York with my amazing wife, Deanna, and our senior Golden-Lab mix, Diesel. I graduated from Wayne State University in the Spring of 2016 with a Bachelor's Degree in Biomedical Engineering, but found myself working in a field that left me unfulfilled and unchallenged.</p>
        <p>In the Summer of 2020, I made the decision to teach myself how to be a software developer and change careers. Starting with JavaScript, I immersed myself by picking up Angular, TypeScript, Node.js, and React over the course of the next year and a half while working full time as a Controls Engineer. By December 2021, I felt the fulfillment of starting a new career in a field where I could craft skills and products that I felt pride and passion as I found a spot on a wonderful team at Nexient.</p>
        <p>Working at Nexient for over a year now, I have thrived by continuously learning from my mentors, honing my knowledge and tools, and raising my expectations and standards for how code should be written and tested. I believe that as a developer, the end experience for a user is what matters. As such, I constantly strive to ensure that the quality of work I produce is not only bug-free for release, but demonstrates high maintainability and best practices in the industry.</p>
    </section>
    <h1>Skills</h1>
    <app-icon-group [labels]="true" [iconList]="[
        'javascript',
        'typescript',
        'angular',
        'html5',
        'css3',
        'github',
        'nodejs',
        'react',
        'sass',
        'python',
        'firebase',
        'accessibility'
    ]">
    </app-icon-group>
</div>