<div fxLayout="column" class="bg-info-container">
    <h1>Background</h1>
    <section>
        <p>I'm a Michigan-native who got married, packed my bags, and moved to Brooklyn, New York with my amazing wife and our energetic senior Golden-Lab pup. I graduated from Wayne State University with a Bachelor's Degree in Biomedical Engineering, but found myself working in a field that left me unfulfilled and unchallenged.</p>
        <p>In time, I made the decision to teach myself how to be a software developer and change careers. Starting with JavaScript, I immersed myself by picking up Angular, TypeScript, Node.js, and React while working full time as a Controls Engineer. As proof of my motivation, I soon felt the fulfillment of starting a new career in a field where I could craft skills and products that I felt pride and passion in as I found a spot on a wonderful team at Nexient.</p>
        <p>Working at Nexient, I have thrived by continuously learning from my mentors, honing my knowledge and tools, and raising my expectations and standards for how code should be written and tested. I believe that as a developer, the end experience for a user is what matters. As such, I constantly strive to ensure that the quality of work I produce is not only bug-free for release, but demonstrates high maintainability and best practices in the industry.</p>
    </section>
    <h1>Skills</h1>
    <app-icon-group [labels]="true" [iconList]="[
        'react',
        'vue',
        'angular',
        'javascript',
        'typescript',
        'html5',
        'css3',
        'sass',
        'accessibility',
        'java',
        'nodejs',
        'python',
        'github',
        'jira',
        'confluence',
        'azure',
        'aws',
        'firebase'
    ]">
    </app-icon-group>
</div>