<div fxLayout="column" class="bg-info-container">
    <h1>Background</h1>
    <div>
        <p>As a new developer, I'm looking for a breakout moment within the field! I've worked in Controls Engineering for the past 5 years, but have redirected my focus to software development in order to better align my career with my passions.</p>
        <p>With a Bachelor's Degree in Biomedical Engineering from Wayne State Uninversity, I formed a diverse set of foundational skills in multiple engineering disciplines, coding included. Building upon that in the last year, I've worked on multiple personal development projects while practicing exercises and self-teaching all the while.</p> 
        <p>I am highly motivated to learn and love the challenge and sense of accomplishment that development brings. I'm very much looking forward to when I can build upon what I know and thrive in a professional team setting!</p>
    </div>
    <h1>Skills</h1>
    <app-icon-group [iconList]="[
        'javascript',
        'typescript',
        'angular',
        'html5',
        'css3',
        'github',
        'nodejs',
        'react',
        'sass',
        'python',
        'firebase',
        'accessibility'
    ]">
    </app-icon-group>
</div>