<div [ngSwitch]="icon">
  <div *ngSwitchCase="'accessibility'">
    <i
      aria-label="accessibility icon"
      class="fas fa-universal-access fa-3x"
    ></i>
    <p *ngIf="showLabel">Accessibility</p>
  </div>
  <div *ngSwitchCase="'aggrid'">
    <img
      alt="AG Grid icon"
      src="../../../assets/aggrid.svg"
      [style.height]="height"
      [style.margin]="margin"
      [style.width]="width"
    />
    <p *ngIf="showLabel">AG Grid</p>
  </div>
  <div *ngSwitchCase="'angular'">
    <i aria-label="angular icon" class="fab fa-angular fa-3x"></i>
    <p *ngIf="showLabel">Angular</p>
  </div>
  <div *ngSwitchCase="'aws'">
    <i aria-label="aws icon" class="fab fa-aws fa-3x"></i>
    <p *ngIf="showLabel">AWS Cloud</p>
  </div>
  <div *ngSwitchCase="'azure'">
    <img
      alt="azure icon"
      src="../../../assets/azure.svg"
      [style.height]="height"
      [style.margin]="margin"
      [style.width]="width"
    />
    <p *ngIf="showLabel">Azure</p>
  </div>
  <div *ngSwitchCase="'bitbucket'">
    <i aria-label="bitbucket icon" class="fab fa-bitbucket fa-3x"></i>
    <p *ngIf="showLabel">Bitbucket</p>
  </div>
  <div *ngSwitchCase="'bootstrap'">
    <i aria-label="bootstrap icon" class="fab fa-bootstrap fa-3x"></i>
    <p *ngIf="showLabel">Bootstrap</p>
  </div>
  <div *ngSwitchCase="'confluence'">
    <i aria-label="confluence icon" class="fab fa-confluence fa-3x"></i>
    <p *ngIf="showLabel">Confluence</p>
  </div>
  <div *ngSwitchCase="'css3'">
    <i aria-label="CSS3 icon" class="fab fa-css3-alt fa-3x"></i>
    <p *ngIf="showLabel">CSS</p>
  </div>
  <div *ngSwitchCase="'discord'">
    <i aria-label="discord API icon" class="fab fa-discord fa-3x"></i>
    <p *ngIf="showLabel">Discord API</p>
  </div>
  <div *ngSwitchCase="'expressjs'">
    <img
      alt="express.js icon"
      src="../../../assets/expressjs.svg"
      [style.height]="height"
      [style.margin]="margin"
      [style.width]="width"
    />
    <p *ngIf="showLabel">Express.js</p>
  </div>
  <div *ngSwitchCase="'firebase'">
    <img
      alt="firebase icon"
      src="../../../assets/firebase.svg"
      [style.height]="height"
      [style.margin]="margin"
      [style.width]="width"
    />
    <p *ngIf="showLabel">Firebase</p>
  </div>
  <div *ngSwitchCase="'github'">
    <i aria-label="github icon" class="fab fa-github fa-3x"></i>
    <p *ngIf="showLabel">Github</p>
  </div>
  <div *ngSwitchCase="'golang'">
    <img
      alt="golang icon"
      src="../../../assets/golang.svg"
      [style.height]="height"
      [style.margin]="margin"
      [style.width]="width"
    />
    <p *ngIf="showLabel">GoLang</p>
  </div>
  <div *ngSwitchCase="'html5'">
    <i aria-label="HTML5 icon" class="fab fa-html5 fa-3x"></i>
    <p *ngIf="showLabel">HTML</p>
  </div>
  <div *ngSwitchCase="'java'">
    <i aria-label="java icon" class="fab fa-java fa-3x"></i>
    <p *ngIf="showLabel">Java</p>
  </div>
  <div *ngSwitchCase="'javascript'">
    <i aria-label="javascript icon" class="fab fa-js fa-3x"></i>
    <p *ngIf="showLabel">Javascript</p>
  </div>
  <div *ngSwitchCase="'jira'">
    <i aria-label="jira icon" class="fab fa-jira fa-3x"></i>
    <p *ngIf="showLabel">Jira</p>
  </div>
  <div *ngSwitchCase="'launch'">
    <img
      alt="launch icon"
      src="../../../assets/launch.svg"
      [style.height]="height"
      [style.margin]="margin"
      [style.width]="width"
    />
    <p *ngIf="showLabel">Launch by NTT Data</p>
  </div>
  <div *ngSwitchCase="'materialui'">
    <img
      alt="Material UI icon"
      src="../../../assets/materialui.svg"
      [style.height]="height"
      [style.margin]="margin"
      [style.width]="width"
    />
    <p *ngIf="showLabel">Material UI</p>
  </div>
  <div *ngSwitchCase="'nextjs'">
    <img
      alt="Next.js icon"
      src="../../../assets/nextjs.svg"
      [style.height]="height"
      [style.margin]="margin"
      [style.width]="width"
    />
    <p *ngIf="showLabel">Next.js</p>
  </div>
  <div *ngSwitchCase="'nodejs'">
    <i aria-label="node.js icon" class="fab fa-node-js fa-3x"></i>
    <p *ngIf="showLabel">Node.js</p>
  </div>
  <div *ngSwitchCase="'python'">
    <i aria-label="python icon" class="fab fa-python fa-3x"></i>
    <p *ngIf="showLabel">Python</p>
  </div>
  <div *ngSwitchCase="'react'">
    <i aria-label="react icon" class="fab fa-react fa-3x"></i>
    <p *ngIf="showLabel">React</p>
  </div>
  <div *ngSwitchCase="'sass'">
    <i aria-label="sass icon" class="fab fa-sass fa-3x"></i>
    <p *ngIf="showLabel">Sass</p>
  </div>
  <div *ngSwitchCase="'springboot'">
    <img
      alt="Spring Boot icon"
      src="../../../assets/springboot.svg"
      [style.height]="height"
      [style.margin]="margin"
      [style.width]="width"
    />
    <p *ngIf="showLabel">Spring Boot</p>
  </div>
  <div *ngSwitchCase="'tailwindcss'">
    <img
      alt="tailwind CSS icon"
      src="../../../assets/tailwindcss.svg"
      [style.height]="height"
      [style.margin]="margin"
      [style.width]="width"
    />
    <p *ngIf="showLabel">Tailwind CSS</p>
  </div>
  <div *ngSwitchCase="'typescript'">
    <img
      alt="typescript icon"
      src="../../../assets/typescript.svg"
      [style.height]="height"
      [style.margin]="margin"
      [style.width]="width"
    />
    <p *ngIf="showLabel">Typescript</p>
  </div>
  <div *ngSwitchCase="'vue'">
    <i aria-label="vue icon" class="fab fa-vuejs fa-3x"></i>
    <p *ngIf="showLabel">Vue</p>
  </div>
</div>
