<div fxLayout="column" class="bg-info-container">
    <div fxFlex='80px' fxLayout="row" fxLayoutAlign="start">
        <h1>Background</h1>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="start">
        <p>As a new developer, I'm looking for a breakout moment within the field! I've worked in Controls Engineering for the past 5 years, but have redirected my focus to software development in order to better align my career with my passions.</p>
        <p>With a Bachelor's Degree in Biomedical Engineering from Wayne State Uninversity, I formed a diverse set of foundational skills in multiple engineering disciplines, coding included. Building upon that in the last year, I've worked on multiple personal development projects while practicing exercises and self-teaching all the while.</p> 
        <p>I am highly motivated to learn and love the challenge and sense of accomplishment that development brings. I'm very much looking forward to when I can build upon what I know and thrive in a professional team setting!</p>
    </div>
    <div fxFlex='80px' fxLayout="row" fxLayoutAlign="start">
        <h1>Skills</h1>
    </div>
    <div fxFlex fxLayout="row wrap" fxLayoutAlign="center" class="skills">
        <div fxFlex=110px><i class="fab fa-js fa-3x"></i><p>Javascript</p></div>
        <div fxFlex=110px><img class="svg-icons" src="../../../assets/typescript.svg"><p>Typescript</p></div>
        <div fxFlex=110px><i class="fab fa-angular fa-3x"></i><p>Angular</p></div>
        <div fxFlex=110px><i class="fab fa-html5 fa-3x"></i><p>HTML</p></div>
        <div fxFlex=110px><i class="fab fa-css3-alt fa-3x"></i><p>CSS</p></div>
        <div fxFlex=110px><i class="fab fa-github fa-3x"></i><p>Github</p></div>
        <div fxFlex=110px><i class="fab fa-node-js fa-3x"></i><p>Node.js</p></div>
        <div fxFlex=110px><i class="fab fa-react fa-3x"></i><p>React</p></div>
        <div fxFlex=110px><i class="fab fa-sass fa-3x"></i><p>Sass</p></div>
        <div fxFlex=110px><i class="fab fa-python fa-3x"></i><p>Python</p></div>
        <div fxFlex=110px><img class="svg-icons" src="../../../assets/firebase.svg"><p>Firebase</p></div>
        <div fxFlex=110px><i class="fas fa-universal-access fa-3x"></i><p>Accessibility</p></div>
    </div>
</div>