.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  div {
    text-align: center;
    width: 110px;

    .svg-icons {
      height: 48px;
      margin-bottom: -4px;
      margin-top: 12px;
      width: 42px;
    }
  }
}
