.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    div {
        text-align: center;
        width: 110px;

        p {
            margin: 4px 0 24px 0;      
        }
        .fab, .fas {
            color: rgba(0, 0, 0, 0.75);
        }
        .svg-icons {
            height: 48px;
            margin-bottom: -4px;
            width: 42px;
        }
    }
} 