<div class="component-container">
    <main>
        <div class="button-container" *ngIf="!collapseNav">
            <app-arrow-button
                direction="left"
                (click)="onClickNextPage()">
            </app-arrow-button>
        </div>
        <div class="exp-container">
            <div *ngIf="collapseNav">
                <app-work></app-work>
                <hr class="component-divider">
                <app-projects></app-projects>
            </div>
            <router-outlet *ngIf="!collapseNav"></router-outlet>
        </div>
        <div class="button-container" *ngIf="!collapseNav">
            <app-arrow-button
                (click)="onClickNextPage()">
            </app-arrow-button>
        </div>
    </main>
</div>