@use '@angular/material' as mat;

.intro-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 20px;

    h1 {
        color: rgba(0, 0, 0, 0.87);
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        margin: 12px 0;
    }
    p {
        font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: large;
        margin: 12px auto;
        max-width: 800px;
        text-align: center;
    }
    .circle-image {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        border: 4px solid rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        height: 275px;
        margin: 12px;
        object-fit: cover;
        width: 275px;
        transition: all 0.2s ease-in-out;
    }
    .bolded {
        color: mat.get-color-from-palette(mat.$teal-palette, 700);
        font-weight: bold;
    }
    .mat-mdc-unelevated-button {
        background-color: #fff;
        border: 2px solid mat.get-color-from-palette(mat.$teal-palette, 700);
        border-radius: 30px;
        color: mat.get-color-from-palette(mat.$teal-palette, 700);
        font-size: 16px;
        font-weight: 600;
        height: 50px;
        margin: 12px 6px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: mat.get-color-from-palette(mat.$teal-palette, 700);
            color: #fff;
        }
    }
    .button-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .long-button {
            width: 120px;
        }
        .short-button {
            width: 75px;
        }
    }
}

/* Tablet and Desktop Views */
@media screen and (min-width: 577px) {
    .intro-container {
        justify-content: center;

        h1 {
            margin: 24px 0;
        }
        p {
            margin: 24px auto;
        }
        .circle-image {
            height: 350px;
            width: 350px;
        }
    }
}