<div class="intro-container">
    <h1>Hello, I'm <span class="bolded">Nick</span>!</h1>
    <div class="image-container">
        <img class="circle-image" src="../../../assets/me.jpg" alt="A picture of Nick Bely.">
    </div>
    <p>I'm a self-taught <span class="bolded">Front End Developer</span> passionate about creating thoughtful and interactive applications and web experiences.</p>
    <button
        class="long-button" 
        color="primary"
        mat-flat-button 
        type="button"
        (click)="onButtonClick('/assets/Bely_Nicholas_Resume_2021.pdf')">
        Résumé
    </button>
    <button
        class="short-button"
        color="primary"
        mat-flat-button 
        (click)="onButtonClick('https://www.linkedin.com/in/nicholas-bely-57a696a1/')">
        <i class="fab fa-linkedin fa-2x"></i>
    </button>
    <button
        class="short-button"
        color="primary"
        mat-flat-button 
        (click)="onButtonClick('https://github.com/nbely/')">
        <i class="fab fa-github fa-2x"></i>
    </button>
</div>