<div class="intro-container">
  <h1>Hello, I'm <span class="bolded">Nick</span>!</h1>
  <img
    class="circle-image"
    src="../../../assets/me.jpg"
    alt="A picture of Nick Bely."
  />
  <p>
    I'm a self-starting <span class="bolded">Senior Software Engineer</span>
    who is enthusiastic about creating thoughtful and data-driven web
    applications that are accessible, scalable, and delightful to experience.
  </p>
  <div class="button-group">
    <button
      aria-label="Button to open PDF Résumé in new tab"
      class="long-button"
      color="primary"
      mat-flat-button
      type="button"
      (click)="onButtonClick('/assets/Nicholas_Bely_Resume.pdf')"
    >
      Résumé
    </button>
    <button
      aria-label="Button to open LinkedIn profile in new tab"
      class="short-button"
      color="primary"
      mat-flat-button
      (click)="onButtonClick('https://www.linkedin.com/in/nbely/')"
    >
      <i class="fab fa-linkedin fa-2x"></i>
    </button>
    <button
      aria-label="Button to open GitHub profile in new tab"
      class="short-button"
      color="primary"
      mat-flat-button
      (click)="onButtonClick('https://github.com/nbely/')"
    >
      <i class="fab fa-github fa-2x"></i>
    </button>
  </div>
</div>
