.page-container {
    background-size: cover;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100%;

    a {
        color: inherit;
        text-decoration: none;
    }
    header {
        color: #000;
        display: flex;
        font-size: 24px;
        height: 48px;
        justify-content: space-between;
        padding: 0px 20px;

        .header-content { 
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            width: 100vw;

            .hamburger-menu-title {
                height: 36.5px;
                margin: auto 0;
                padding: 0;
                width: 220px;

                .app-title {
                    color: #000;
                    font-family: 'Roboto Slab', serif;
                }
                .menu-button {
                    background-color: inherit;
                    color: inherit;
                    font-size: inherit;
                    height: 34px;
                    line-height: normal;
                    margin-right: 24px;
                    min-width: 0;
                    padding: 0;
                    width: 34px;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.05)
                    }
                    .mat-icon {
                        font-size: inherit;
                        height: 24px;
                        margin: 0;
                        width: 24px;
                    }
                }
            }
            .section-menu {
                .mat-mdc-tab-link {
                    .mdc-tab__content {
                        min-width: 100px;
                    }
                    .mdc-tab__text-label {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                .removeHighlights.mat-primary .mat-ink-bar {
                    display: none;
                }
                .mat-mdc-tab-link:hover {
                    background-color: rgba(0, 0, 0, 0.05)
                }
            }
            // .theme-changer {
            //     margin: auto;
            //     width: 34px;

            //     .theme-button {
            //         font-size: inherit;
            //         background-color: inherit;
            //         color: inherit;
            //         width: 34px;
            //         height: 34px;
            //         margin: auto;
            //         min-width: 0;
            //         padding: 0 0 5px 0;
            //         line-height: normal;
            //     }
            // }
        }
    }
    main {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 18px 12px;
        width: 100%;
    }
    
}

.sidenav-container {
    background: rgba(0, 0, 0, 0);
    flex: 1;

    .sidenav {
        color: #fff;
        min-width: 240px;

        .mdc-button {
            display: block;
            height: 48px;
            font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 16px;
            font-weight: 500;
            padding: 12px 24px;
            text-align: left;
            width: 100%;
        
            .mdc-button__label {
                line-height: 24px;
            }
            .mat-icon {
                font-size: 24px;
                height: 24px;
                width: 24px;
            }
        }
        .mdc-button:hover {
            background-color: rgba(0, 0, 0, 0.05)
        }
    }
}

.collapsedSidenav {
    width: 100%
}

footer {
    background: rgba(0, 0, 0, 0.70);
    bottom: 0%;
    color: #fff;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 100%;

    p {
        color : rgba(255, 255, 255, 0.70);
        font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        margin: auto;
        text-align: center;
    }
}