@use '@angular/material' as mat;

.page-container {
    background-size: cover;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100%;

    a {
        color: inherit;
        text-decoration: none;
    }
    .header-content {
        color: #000;
        display: flex;
        flex-direction: row;
        font-size: 24px;
        height: 48px;
        margin: 0 auto;
        padding: 0px 20px;
        width: 100vw;

        .hamburger-menu-title {
            height: 36.5px;
            margin: auto 0;
            padding: 0;
            width: 220px;

            .app-title {
                color: #000;
                font-family: 'Roboto Slab', serif;
                transition: color 0.2s linear;

                &:hover {
                    color: mat.get-color-from-palette(mat.$teal-palette, 500);
                }
            }
            .menu-button {
                background-color: inherit;
                color: inherit;
                font-size: inherit;
                height: 34px;
                line-height: normal;
                margin-right: 24px;
                min-width: 0;
                padding: 0;
                width: 34px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.05)
                }
                .mat-icon {
                    font-size: inherit;
                    height: 24px;
                    margin: 0;
                    width: 24px;
                }
            }
        }
        .section-menu {
            .mat-mdc-tab-link {
                .mdc-tab__content {
                    min-width: 100px;
                }
                .mdc-tab__text-label {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            .removeHighlights.mat-primary .mat-ink-bar {
                display: none;
            }
            .mat-mdc-tab-link:hover {
                background-color: rgba(0, 0, 0, 0.05)
            }
        }
    }
    main {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 18px 12px;

        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 120px;

            app-arrow-button {
                margin: 0 20px;
                width: 80px;
                transition: width 0.2s linear;
    
                &:hover {
                    width: 90px;
                }
            }
        }
    }
}

.sidenav-container {
    background: rgba(0, 0, 0, 0);
    flex: 1;

    .sidenav {
        color: #fff;
        min-width: 240px;

        .mdc-button {
            display: block;
            height: 48px;
            font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 16px;
            font-weight: 500;
            padding: 12px 24px;
            text-align: left;
            width: 100%;
        
            .mdc-button__label {
                line-height: 24px;
            }
            .mat-icon {
                font-size: 24px;
                height: 24px;
                width: 24px;
            }
        }
        .mdc-button:hover {
            background-color: rgba(0, 0, 0, 0.05)
        }
    }
}

.collapsedSidenav {
    width: 100%
}

footer {
    background: rgba(0, 0, 0, 0.70);
    bottom: 0%;
    color: #fff;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 100%;

    p {
        color : rgba(255, 255, 255, 0.70);
        font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        margin: auto;
        text-align: center;
    }
}