<div fxLayout="column" class="volunteer-container">
    <div fxFlex='80px' fxLayout="row" fxLayoutAlign="start">
        <h1>Volunteer Work</h1>
    </div>
    <div fxLayout="row">
        <div fxFlex.xl=25 fxFlex.lg=25 fxFlex.md=25 fxFlex.sm=25></div>
        <div fxFlex=50 fxFlex.xs=100>
            <mat-card class="experience-card">
                <mat-card-header>
                    <mat-card-title>Comau Glass Cell Dashboard</mat-card-title>
                    <mat-card-subtitle>Angular 9 Web App</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="status">
                    Status: Completed
                </mat-card-content>
                <mat-card-content>
                    <uL>
                        <li>
                            Created a summary dashboard for an Angular 9 web application utilizing the ngx-admin template and plotly graphing library
                        </li>
                        <br>
                        <li>
                            Included sidebar docking so that dashboard cards could be shown or hidden
                        </li>
                    </uL>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex.xl=25 fxFlex.lg=25 fxFlex.md=25 fxFlex.sm=25></div>
    </div>
</div>        