.work-container {
    padding: 0 20px;

    h1 {
        color: rgba(0, 0, 0, 0.70);
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        margin: 12px 0;
        text-align: center;
    }
    .card-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .mdc-card {
            background-color: rgba(0, 0, 0, 0.05);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 12px 12px;
            max-width: 500px;
            text-align: start;
    
            .mat-mdc-card-title {
                color: rgba(0, 0, 0, 0.70);
            }
            .mat-mdc-card-content {
                color: rgba(0, 0, 0, 0.75);
                font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: medium;
                margin: 0 0 12px 0;
            }
            .mat-mdc-card-actions {
                margin: 0;

                .mat-mdc-button:hover {
                    background-color: rgba(0, 0, 0, 0.05)
                }
            }
            .status {
                font-style: italic;
            }
        }
    }
}

/* Tablet and Desktop Views */
@media screen and (min-width: 577px) {
    .work-container {
        h1 {
            margin: 24px 0 12px;
        }
    }
}