<div class="work-container">
        <h1>Work</h1>
        <div class="card-group">
            <mat-card class="experience-card">
                <mat-card-header>
                    <mat-card-title>NTT Data</mat-card-title>
                    <mat-card-subtitle>Software Developer II</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <uL>
                        <li>
                            Developing full-scale fan-game in Node.js via Discord API, utilizing MongoDB game/user data storage w/Mongoose and parsed data stream results from a forked 3rd party battle simulator
                        </li>
                        <br>
                        <li>
                            Working on React web application for displaying user profiles and interactable/customizable user event-logs
                        </li>
                    </uL>
                </mat-card-content>
            </mat-card>
        </div>
</div>

