<div fxLayout="column" class="projects-container">
    <div fxFlex='80px' fxLayout="row" fxLayoutAlign="start">
        <h1>Projects</h1>
    </div>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
        <div fxFlex="50" fxLayoutAlign="stretch">
            <mat-card class="experience-card">
                <mat-card-header>
                    <mat-card-title>Turq-Bot</mat-card-title>
                    <mat-card-subtitle>NodeJS Discord Bot & React Web App</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="status">
                    Status: In Progress
                </mat-card-content>
                <mat-card-content>
                    <uL>
                        <li>
                            Developing full-scale fan-game in Node.js via Discord API, utilizing MongoDB game/user data storage w/Mongoose and parsed data stream results from a forked 3rd party battle simulator
                        </li>
                        <br>
                        <li>
                            Working on React web application for displaying user profiles and interactable/customizable user event-logs
                        </li>
                    </uL>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>REPO</button> 
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex="50"fxLayoutAlign="stretch">
            <mat-card class="experience-card">
                <mat-card-header>
                    <mat-card-title>Portfolio</mat-card-title>
                    <mat-card-subtitle>Angular Web App</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="status">
                    Status: Completed
                </mat-card-content>
                <mat-card-content>
                    <uL>
                        <li>
                            What you're currently viewing!
                        </li>
                        <br>
                        <li>
                            Practiced self-guided Angular web app concept design and implementation, along with employing responsiveness
                        </li>
                        <br>
                        <li>
                            Learned how to implement and adapt UI components fro Material.io library and organize page layouts with fxFlex API
                        </li>
                    </uL>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIVE</button> 
                    <button mat-button>REPO</button> 
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex.xl=25 fxFlex.lg=25 fxFlex.md=25 fxFlex.sm=25></div>
        <div fxflex=50 fxFlex.xs=100>
            <mat-card class="experience-card">
                <mat-card-header>
                    <mat-card-title>Recipe Book</mat-card-title>
                    <mat-card-subtitle>Angular Web App</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="status">
                    Status: Completed
                </mat-card-content>
                <mat-card-content>
                    <uL>
                        <li>
                            Completed course project demonstration fundamental and advanced knowledge and practice of Angular concepts, user interface design with Bootstrap, and firebase deployment
                        </li>
                        <br>
                        <li>
                            Gained understanding of and ability to create and utilize modules, components, directives, routing, observables, forms, pipes, https requests, and user authentication
                        </li>
                    </uL>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIVE</button> 
                    <button mat-button>REPO</button> 
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex.xl=25 fxFlex.lg=25 fxFlex.md=25 fxFlex.sm=25></div>
    </div>
</div>