<div class="component-container">
    <main>
        <div class="button-container" *ngIf="!collapseNav">
            <app-arrow-button
                *ngIf="activeLink != 'introduction'"
                direction="left"
                (click)="onClickNextPage()">
            </app-arrow-button>
        </div>
        <div class="about-container">
            <div *ngIf="collapseNav">
                <app-introduction></app-introduction>
                <hr class="component-divider">
                <app-background></app-background>
            </div>
            <router-outlet *ngIf="!collapseNav"></router-outlet>
        </div>
        <div class="button-container" *ngIf="!collapseNav">
            <app-arrow-button
                (click)="onClickNextPage()">
            </app-arrow-button>
        </div>
    </main>
</div>